@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #131313;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  font-family: var(--font-poppins);
  color: #fff;
  overflow-x: hidden;
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-inter {
  font-family: var(--font-inter);
}
